@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .bgtest{
        animation-name: slideout;
        animation-duration: 1000ms;
        animation-timing-function:linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transition: all 1000ms ease;
    }
    #imgtest{
        animation-name: slidein;
        animation-duration: 1000ms;
        animation-timing-function:linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
   

    .transit{
        transition: all 1000ms ease;
        animation-name: autoslide;
        animation-duration: 100ms;
        animation-timing-function:linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .transit>img{
        object-position: 0% 27%;
    }
    .transit>img:first-child{
        object-position: 0% 40%;
    }

    @keyframes slideout {

        0%{
            transform: translateX(0%);
            opacity: 0.5;
        }
        25%{
            transform: translateX(-25%);
        }
        50%{
            transform: translateX(-50%);
            opacity: 0.2;
        }
        
        75%{
            transform: translateX(-75%);
        }
        100%{
            transform: translateX(-100%);
            opacity: 0;

        }
    }

    @keyframes slidein {

        0%{
            width: 0%;
            opacity: 0;
 
        }
        25%{
            width:25%
        }
        50%{
            width: 50%;
            opacity: 0.5;
      
        }
        
        75%{
            width: 75%;
        }
        100%{
            width:100%;
            opacity: 1;

        }
    }

    @keyframes autoslide {
        0% {
          opacity: 0;
        }
      
      
      
        100% {
          opacity: 1;
        
        }
      }

      .collection{
        object-position: 0% 80%;
      }

      .CEO{
        object-position: 8% 20%;
      }

      .hover-effect{
        position: relative;
        transform: all 1s linear;
        cursor: pointer;
        z-index: 1;
      }
      .hover-effect:hover{
        color:rgb(50,1,47);
      }

      .hover-effect::before{
        content: "";
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgb(226,223,208);
        z-index: -1;
        transition: transform 1s ease;
        transform-origin: 0 0;
        transform: scaleX(0);

      }

      .hover-effect:hover::before{
        transform: scaleX(1);
      }

      .custom-shape-divider-top-1715862304 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1715862304 svg {
        position: relative;
        display: block;
        width: calc(135% + 1.3px);
        height: 109px;
    }
    
    .custom-shape-divider-top-1715862304 .shape-fill {
        fill: #FFFFFF;
    }
    
   
    .custom-shape-divider-top-1715891121 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1715891121 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 346px;
    }
    
    .custom-shape-divider-top-1715891121 .shape-fill {
        fill: #FFFFFF;
       
    }

    @media only screen and  (max-width:485px) {
        .custom-shape-divider-top-1715891121 .shape-fill {
            fill: none;
           
        }
    }

  
}